# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [3]:
from sklearn.model_selection import train_test_split

#Entrenamiento de prueba 
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 5)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [20]:
from sklearn.linear_model import LinearRegression 

linreg = LinearRegression().fit(x_train,y_train)

In [21]:
y_train_predicted = linreg.predict(x_train)
y_train_predicted

array([[13.82876985],
       [44.52852811],
       [ 3.91599095],
       [22.37795855],
       [18.23592252],
       [25.52374759],
       [29.43974677],
       [18.69453347],
       [27.85646296],
       [24.64473374],
       [20.53039645],
       [32.24809769],
       [19.53384497],
       [10.6751149 ],
       [22.77616204],
       [17.35106653],
       [18.54046999],
       [16.36847196],
       [21.72533915],
       [35.71120541],
       [21.83662056],
       [19.76107221],
       [24.18285088],
       [25.5255809 ],
       [20.8464168 ],
       [24.53500383],
       [23.78138462],
       [40.86911314],
       [40.39520996],
       [29.63686507],
       [12.619354  ],
       [15.73341062],
       [18.21178776],
       [21.16340747],
       [16.66802114],
       [ 5.97334491],
       [24.31645777],
       [30.41975812],
       [23.26407764],
       [19.39240148],
       [16.09545573],
       [21.11256921],
       [34.44869686],
       [26.91553429],
       [30.23074628],
       [18.03371864],
       [22.39969339],
       [29.3639849 ],
       [13.012578  ],
       [35.56341078],
       [10.91286971],
       [13.56179599],
       [27.60611138],
       [31.30757803],
       [11.07295389],
       [24.39197327],
       [28.74300261],
       [32.45909463],
       [15.73036294],
       [30.13719482],
       [ 7.84896909],
       [34.49967116],
       [25.308736  ],
       [20.0655545 ],
       [15.24843367],
       [12.43138278],
       [30.63133241],
       [16.39957657],
       [23.95719598],
       [20.73701035],
       [13.53764594],
       [20.67956211],
       [13.42986345],
       [20.74559128],
       [22.33193767],
       [34.06935771],
       [22.4589955 ],
       [16.80443725],
       [30.73371445],
       [40.33660798],
       [26.82012518],
       [25.64492484],
       [16.55295684],
       [15.36288473],
       [36.70017849],
       [23.7412586 ],
       [33.98023685],
       [25.67911107],
       [20.75330214],
       [16.30873495],
       [22.97592875],
       [18.26061637],
       [32.12700405],
       [16.59865114],
       [25.93434146],
       [26.98201668],
       [23.67275655],
       [21.78893136],
       [35.03599925],
       [19.26492009],
       [31.04623197],
       [28.56931052],
       [13.19353298],
       [32.84236622],
       [27.16908461],
       [19.46817428],
       [35.54731935],
       [14.35733503],
       [25.18266433],
       [28.84354387],
       [22.14413982],
       [18.13432638],
       [20.15575807],
       [24.64159199],
       [19.82254139],
       [31.90587328],
       [25.55866956],
       [19.54858597],
       [ 8.40674799],
       [ 6.98237159],
       [22.17556194],
       [20.01496962],
       [20.41619184],
       [21.44730119],
       [17.81230023],
       [31.69051363],
       [37.30302819],
       [20.44885134],
       [12.95714018],
       [27.39459086],
       [16.7150166 ],
       [24.64486051],
       [18.47045504],
       [24.00117211],
       [15.72744847],
       [19.64301945],
       [13.3047066 ],
       [21.50166712],
       [26.96410422],
       [23.10270534],
       [16.66074819],
       [15.27661604],
       [21.14866954],
       [38.6955596 ],
       [19.91486276],
       [16.38100089],
       [15.2616879 ],
       [24.51693123],
       [17.22984248],
       [20.94579859],
       [25.06767554],
       [16.75033299],
       [27.86311431],
       [18.8104657 ],
       [18.87948267],
       [22.81246724],
       [29.5612325 ],
       [25.35706292],
       [29.20297413],
       [25.95334072],
       [33.00900636],
       [24.8484116 ],
       [23.40495353],
       [22.46315457],
       [36.79425897],
       [17.14501705],
       [30.42468337],
       [28.46857469],
       [13.28955133],
       [35.43263883],
       [21.44058303],
       [16.34623859],
       [15.38046223],
       [13.74563843],
       [30.47807544],
       [14.13482235],
       [17.42168029],
       [28.91886825],
       [31.70750628],
       [28.7588028 ],
       [20.10448214],
       [12.98233777],
       [27.76764139],
       [24.11538029],
       [22.27877305],
       [27.93347069],
       [25.40029275],
       [26.03732599],
       [23.28847245],
       [18.32809559],
       [17.28288485],
       [11.97889552],
       [20.09866743],
       [25.0106152 ],
       [13.5916012 ],
       [34.58936106],
       [35.32569887],
       [18.94899761],
       [11.29320978],
       [33.75214626],
       [25.03088508],
       [20.77454947],
       [25.95803533],
       [25.15581387],
       [23.49130664],
       [21.24354962],
       [25.18556591],
       [36.05223594],
       [22.5511025 ],
       [21.29430751],
       [19.80618055],
       [21.32039052],
       [23.06324163],
       [33.00154741],
       [14.99537306],
       [18.50903392],
       [15.60511877],
       [31.52048599],
       [43.12505408],
       [21.6684189 ],
       [24.45097032],
       [ 7.86814475],
       [32.06847555],
       [19.59720706],
       [19.12888388],
       [24.41399777],
       [24.05132035],
       [ 3.31245943],
       [17.21602903],
       [12.4012353 ],
       [11.65277242],
       [14.64491299],
       [20.44883795],
       [36.94476511],
       [30.60096703],
       [20.63858118],
       [ 9.1406006 ],
       [39.60438184],
       [21.99300212],
       [15.30638813],
       [19.13128549],
       [18.52699733],
       [33.51837733],
       [31.6005633 ],
       [22.17666278],
       [17.79330837],
       [22.54273684],
       [25.0141254 ],
       [21.05196521],
       [27.38164635],
       [11.96928255],
       [31.02366816],
       [25.61968363],
       [17.44282613],
       [26.21100208],
       [22.42924109],
       [27.62830414],
       [26.17005591],
       [34.92072175],
       [27.764341  ],
       [19.0048276 ],
       [15.26502939],
       [19.50373965],
       [28.86494856],
       [25.86132294],
       [28.4725833 ],
       [33.17846618],
       [19.77470325],
       [13.92006917],
       [32.80315989],
       [24.61055797],
       [29.48496822],
       [35.50055257],
       [11.50021788],
       [24.03654628],
       [23.89405603],
       [17.35176061],
       [39.40423714],
       [21.50520631],
       [26.52518903],
       [20.52330365],
       [25.42019937],
       [32.63861172],
       [18.47359612],
       [24.89685834],
       [34.38492208],
       [36.97308265],
       [ 6.36125525],
       [17.75592101],
       [24.92870455],
       [13.35396762],
       [29.00903813],
       [36.03985143],
       [23.05719731],
       [14.04454814],
       [ 9.85389963],
       [18.1993444 ],
       [ 2.89782873],
       [22.47046175],
       [12.05389054],
       [31.01920008],
       [ 5.58817177],
       [11.88691242],
       [23.05632111],
       [23.22642146],
       [ 7.28765294],
       [17.8609389 ],
       [37.93424083],
       [25.44286616],
       [ 0.23674996],
       [16.68299965],
       [13.30037005],
       [33.46166801],
       [29.20411455],
       [14.64052595],
       [23.1961805 ],
       [32.91730096],
       [23.05695244],
       [28.93325733],
       [18.95437992],
       [19.28110519],
       [26.86564431],
       [20.8269357 ],
       [17.62024482],
       [30.09442682],
       [28.23108304],
       [26.79253852],
       [11.28111966],
       [20.83271514],
       [20.7748432 ],
       [27.41326091],
       [ 5.10419946],
       [31.26495536],
       [12.53855183],
       [19.53408485],
       [40.50106282],
       [30.74537938],
       [12.75674735],
       [19.37572317],
       [37.70851068],
       [20.04187459],
       [16.56515446],
       [13.05913336],
       [33.65514295],
       [36.39758097],
       [ 8.04199586],
       [18.24938213],
       [24.18768499],
       [25.30852113],
       [36.65110828],
       [27.2909252 ],
       [21.83389564],
       [33.0595744 ],
       [19.58459603],
       [24.69970856],
       [20.43284619],
       [ 6.2131025 ],
       [37.52776711],
       [25.39899264],
       [25.46408407],
       [20.34870558],
       [ 8.28716137],
       [20.10253151],
       [21.92084355],
       [ 7.65502998],
       [20.61508109],
       [27.95845536],
       [19.5929753 ],
       [18.78908708],
       [19.99862211],
       [24.03844999],
       [15.42624324],
       [21.9945165 ],
       [21.95498592],
       [16.90573762],
       [10.69747547],
       [17.60663128],
       [30.70968973],
       [42.02867268],
       [22.64978532],
       [22.85605516],
       [14.05412745],
       [28.47138409],
       [ 7.52754624],
       [20.32081761],
       [10.30688791],
       [43.17340064],
       [18.98859351],
       [23.11374722],
       [29.1535879 ],
       [20.51027575],
       [15.66750662],
       [17.86741022],
       [33.32578132],
       [35.46450808],
       [10.41598041],
       [23.84824464],
       [11.27287412],
       [19.99921263],
       [20.00313523],
       [34.47458202],
       [16.69169394],
       [23.46177882],
       [16.9598102 ]])

In [22]:
y_test_predicted = linreg.predict(x_test)
y_test_predicted

array([[37.56311787],
       [32.14445143],
       [27.06573629],
       [ 5.67080633],
       [35.09982577],
       [ 5.85803701],
       [27.53708506],
       [31.81019188],
       [26.35634771],
       [22.77208748],
       [31.91183048],
       [21.50224061],
       [23.70119983],
       [33.3622504 ],
       [28.51633591],
       [14.39456899],
       [ 0.19284025],
       [18.66247155],
       [13.71004139],
       [14.13408635],
       [ 2.03263952],
       [19.7280831 ],
       [38.18657429],
       [24.19760058],
       [31.30247973],
       [11.14144544],
       [25.03636951],
       [23.27970871],
       [22.49420127],
       [20.52972594],
       [15.16513744],
       [ 6.92553586],
       [18.3557733 ],
       [22.37179804],
       [28.91287973],
       [19.02980786],
       [30.19357214],
       [ 8.74384915],
       [40.86691522],
       [34.53763591],
       [20.70224878],
       [ 2.59618963],
       [29.99590282],
       [12.15704798],
       [27.10186397],
       [30.8052437 ],
       [-6.24169079],
       [19.84885777],
       [20.92973441],
       [12.43523958],
       [20.4949947 ],
       [19.19231742],
       [23.69073157],
       [12.67998473],
       [17.14252424],
       [25.04649176],
       [34.77758126],
       [15.23294903],
       [28.22306193],
       [21.08745388],
       [20.39506129],
       [25.79476888],
       [14.72463673],
       [33.18635032],
       [23.17771307],
       [13.11057248],
       [19.23154617],
       [24.61162961],
       [21.50327036],
       [22.00419172],
       [20.5900874 ],
       [27.19709085],
       [16.86361523],
       [18.92610238],
       [20.62344917],
       [25.73255665],
       [22.03855586],
       [14.51899949],
       [34.3918044 ],
       [18.5369776 ],
       [23.38945015],
       [41.36132839],
       [23.27134886],
       [15.62340913],
       [25.69729854],
       [17.16406313],
       [18.5066679 ],
       [10.04976469],
       [18.99779955],
       [17.02528993],
       [35.707325  ],
       [17.50855206],
       [22.16184894],
       [19.26215663],
       [24.16777784],
       [27.80472748],
       [12.42828948],
       [21.91295599],
       [22.39477399],
       [13.19335364],
       [23.96991103],
       [21.19914699]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [26]:
from sklearn import metrics 

metrics.r2_score(y_train, y_train_predicted)

0.738339392059052

In [27]:
metrics.r2_score(y_test, y_test_predicted)

0.7334492147453064

## 4. Calculate and print mean squared error for both the training and the testing set.

In [28]:
metrics.mean_squared_error(y_train, y_train_predicted)

22.477090408387628

In [29]:
metrics.mean_squared_error(y_test, y_test_predicted)

20.869292183770906

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [31]:
metrics.mean_absolute_error(y_train, y_train_predicted)

3.3500095196484514

In [32]:
metrics.mean_absolute_error(y_test, y_test_predicted)

3.2132704958423837

## Classification Model Evaluation

In [33]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [95]:
iris = load_iris()
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [55]:
#Entrenamiento de prueba 

x = data.drop('class', axis = 1)
y = data['class']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .2, random_state = 5)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [56]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver = 'liblinear', max_iter = 200)
clf.fit(x_train,y_train)

LogisticRegression(max_iter=200, solver='liblinear')

In [59]:
y_train_predicted = clf.predict(x_train)
y_train_predicted

array([0, 1, 1, 0, 1, 0, 0, 2, 0, 2, 2, 1, 0, 0, 1, 2, 1, 2, 2, 0, 2, 0,
       0, 0, 0, 1, 2, 1, 1, 2, 1, 2, 2, 1, 0, 1, 0, 1, 2, 1, 2, 1, 2, 1,
       1, 1, 2, 1, 0, 2, 0, 0, 2, 0, 0, 2, 1, 0, 2, 0, 2, 1, 0, 0, 2, 2,
       1, 0, 0, 2, 1, 1, 0, 1, 2, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 0, 1,
       0, 0, 2, 1, 2, 0, 2, 0, 2, 0, 1, 0, 2, 1, 0, 2, 2, 2, 1, 0, 1, 0,
       0, 1, 2, 0, 2, 0, 1, 2, 2, 1])

In [60]:
y_test_predicted = clf.predict(x_test)
y_test_predicted

array([1, 2, 2, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 0, 1, 2,
       0, 1, 1, 2, 1, 1, 1, 2])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [62]:
from sklearn.metrics import accuracy_score

accuracy_test = accuracy_score(y_test, y_test_predicted)
accuracy_test

0.9

In [63]:
accuracy_train = accuracy_score(y_train, y_train_predicted)
accuracy_train

0.9583333333333334

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [65]:
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_test = balanced_accuracy_score(y_test, y_test_predicted)
balanced_accuracy_test

0.9090909090909092

In [66]:
balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_predicted)
balanced_accuracy_train

0.9572649572649573

## 10. Calculate and print the precision score for both the training and the testing set.

In [70]:
from sklearn.metrics import precision_score

precision_score_train = precision_score(y_train, y_train_predicted, average = 'weighted')
precision_score_train

0.9600198412698411

In [72]:
precision_score_train = precision_score(y_train, y_train_predicted, average = 'macro')
precision_score_train

0.958994708994709

In [73]:
precision_score_train = precision_score(y_train, y_train_predicted, average = 'micro')
precision_score_train

0.9583333333333334

In [71]:
precision_score_test = precision_score(y_test, y_test_predicted, average = 'weighted')
precision_score_test

0.9214285714285714

In [74]:
precision_score_test = precision_score(y_test, y_test_predicted, average = 'macro')
precision_score_test

0.9285714285714285

In [75]:
precision_score_test = precision_score(y_test, y_test_predicted, average = 'micro')
precision_score_test

0.9

## 11. Calculate and print the recall score for both the training and the testing set.

In [77]:
from sklearn.metrics import recall_score

recall_score_test = recall_score(y_test, y_test_predicted, average = 'weighted')
recall_score_test

0.9

In [78]:
recall_score_test = recall_score(y_test, y_test_predicted, average = 'macro')
recall_score_test

0.9090909090909092

In [79]:
recall_score_test = recall_score(y_test, y_test_predicted, average = 'micro')
recall_score_test

0.9

In [81]:
recall_score_train = recall_score(y_train, y_train_predicted, average = 'weighted')
recall_score_train

0.9583333333333334

In [82]:
recall_score_train = recall_score(y_train, y_train_predicted, average = 'macro')
recall_score_train

0.9572649572649573

In [83]:
recall_score_train = recall_score(y_train, y_train_predicted, average = 'micro')
recall_score_train

0.9583333333333334

## 12. Calculate and print the F1 score for both the training and the testing set.

In [84]:
from sklearn.metrics import f1_score

f1_score_test = f1_score(y_test, y_test_predicted, average = 'weighted')
f1_score_test

0.8981052631578947

In [85]:
f1_score_test = f1_score(y_test, y_test_predicted, average = 'macro')
f1_score_test

0.9073684210526315

In [86]:
f1_score_test = f1_score(y_test, y_test_predicted, average = 'micro')
f1_score_test

0.9

In [87]:
f1_score_train = f1_score(y_train, y_train_predicted, average = 'weighted')
f1_score_train

0.9582716049382716

In [88]:
f1_score_train = f1_score(y_train, y_train_predicted, average = 'macro')
f1_score_train

0.9572016460905349

In [89]:
f1_score_train = f1_score(y_train, y_train_predicted, average = 'micro')
f1_score_train

0.9583333333333334

## 13. Generate confusion matrices for both the training and the testing set.

In [96]:
from sklearn.metrics import confusion_matrix

matriz_confusion_train = pd.DataFrame(metrics.confusion_matrix(y_train, y_train_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
matriz_confusion_train

             Setosa  Versicolour  Virginica
Setosa           42            0          0
Versicolour       0           35          4
Virginica         0            1         38

In [97]:
matriz_confusion_test = pd.DataFrame(metrics.confusion_matrix(y_test, y_test_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
matriz_confusion_test

             Setosa  Versicolour  Virginica
Setosa            8            0          0
Versicolour       0            8          3
Virginica         0            0         11

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [111]:
from sklearn import neighbors, datasets

classifier = neighbors.KNeighborsClassifier(n_neighbors = 3)
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [112]:
y_train_predicted = classifier.predict(x_train)
y_train_predicted

array([0, 1, 1, 0, 1, 0, 0, 2, 0, 2, 2, 1, 0, 0, 1, 2, 1, 2, 2, 0, 2, 0,
       0, 0, 0, 1, 1, 1, 1, 2, 1, 2, 2, 1, 0, 1, 0, 1, 2, 1, 2, 1, 2, 1,
       1, 1, 2, 1, 0, 2, 0, 0, 1, 0, 0, 2, 1, 0, 2, 0, 1, 1, 0, 0, 2, 1,
       1, 0, 0, 2, 1, 1, 0, 1, 2, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 0, 1,
       0, 0, 2, 1, 2, 0, 2, 0, 2, 0, 1, 0, 2, 2, 0, 1, 2, 2, 1, 0, 1, 0,
       0, 1, 2, 0, 2, 0, 1, 2, 2, 1])

In [113]:
y_test_predicted = classifier.predict(x_test)
y_test_predicted

array([1, 2, 2, 0, 2, 1, 0, 2, 0, 1, 1, 2, 2, 2, 0, 0, 2, 2, 0, 0, 1, 2,
       0, 2, 1, 2, 1, 1, 1, 2])

In [114]:
accuracy_train = accuracy_score(y_train, y_train_predicted)
accuracy_train

0.975

In [115]:
accuracy_test = accuracy_score(y_test, y_test_predicted)
accuracy_test

0.9333333333333333

In [116]:
balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_predicted)
balanced_accuracy_train

0.9743589743589745

In [117]:
balanced_accuracy_test = balanced_accuracy_score(y_test, y_test_predicted)
balanced_accuracy_test

0.9393939393939394

In [118]:
matriz_confusion_train = pd.DataFrame(metrics.confusion_matrix(y_train, y_train_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
matriz_confusion_train

             Setosa  Versicolour  Virginica
Setosa           42            0          0
Versicolour       0           38          1
Virginica         0            2         37

In [119]:
matriz_confusion_test = pd.DataFrame(metrics.confusion_matrix(y_test, y_test_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
matriz_confusion_test

             Setosa  Versicolour  Virginica
Setosa            8            0          0
Versicolour       0            9          2
Virginica         0            0         11

In [ ]:
#After using neighbors model, the accuracy, the balanced_accuracy and the confussion matrix improved